body {
    background-color: #ccc;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
}

.fork-me img {
    width: 150px;
    height: auto;
}

textarea[name="image-text"] {
    width: 100%;
    min-height: 240px;
    resize: none;
    padding: 0;
    margin: 0 auto;
}

.image-display img {
    display: block;
    margin: 15px auto;
}

.code-example {
    display: none;
    font-family: FontAwesome, Menlo, Monaco, Consolas, "Courier New", monospace;
}